.deepsea-bg{
    background-color: rgb(3, 76, 140)
}
.deepmuted-bg{
    background-color: rgb(2, 72, 115);
}
.deepnavy-bg{
    background-color: rgb(1, 24, 38);
}
.aquabeauty-bg{
    background-color:rgb(45, 131, 166) ;
}
.skyblue-bg{
    background-color: rgb(187, 237, 242);
}
.black-bg{
    background-color: rgb(0,0,0);
}



.deepnavy-tx{
    background-color: rgb(1, 24, 38);
}
.black-tx{
    background-color: rgb(0,0,0);
}
.white-tx{
    background-color: rgb(187, 237, 242);
}