.throat-bg{
    background-color: rgb(221, 233, 255); 
}
.sacral-bg{
    background-color: rgb(248, 233, 152);
}
.heart-bg{
    background-color: rgb(202, 217, 150);
}
.crown-bg{
    background-color: rgb(227, 185, 235);
}